body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 25px;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #F9FAF8;
}

.button {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}