body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 25px;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #F9FAF8;
}


.content {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    font-size: 24px;
    color: #E5E7EB;
    padding: 150px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.button {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
}

.image-placeholder {
    background-color: #959595c7;
    color: white;
    text-align: center;
    padding: 150px;
    margin: 18px;
}






#text-info {
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 55px;
    margin: 10px;
}

.square {
    border: solid 4px #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 14px;
}

.info {
    max-width: 200px;
    justify-content: center;
    font-size: 18px;
    color: #575757;
}